<% include ../partials/header.ejs %>

<% include ../partials/nav.ejs %>

<main class="container about-us-wrapper">
<%- page.content %>
  <div class="authors-wrapper col-lg-12">
      <h1>
          Redakcja
      </h1>
      <div class="authors-list">
        <% page.authorsActive.forEach(function (author) { %>
        <a href="/autor/<%= author.fields.slug %>" class="author-biogram row authors-list__item">
          <img src="<%= author.fields.profilePhoto.fields.file.url %>?w=125">
          <p>
            <%= author.fields.name %>
          </p>
        </a>
        <% }); %>
      </div>
      <h2>
        Współpracowali z nami również
      </h2>
      <hr>
      <div class="authors-list">
        <% page.authorsInactive.forEach(function (author) { %>
        <a href="/autor/<%= author.fields.slug %>" class="author-biogram row authors-list__item">
          <img src="<%= author.fields.profilePhoto.fields.file.url %>?w=125">
          <p>
            <%= author.fields.name %>
          </p>
        </a>
        <% }); %>
      </div>
  </div>
</main> <!-- /container -->

<% include ../partials/footer.ejs %>
