<% include ../partials/header.ejs %>

<% include ../partials/nav.ejs %>

<a href="<%= mainPost.fields.category.fields.className %>/<%= mainPost.fields.oldId %>/<%= mainPost.fields.slug %>" class="main-img-wrapper has-gradient" style="background-image: url(<%= mainPost.fields.featuredImageOldUrl %>)">
    <header class="container header-wrapper on-top">
        <div class="article-info">
            <span class="author">
            <% mainPost.fields.author.forEach(function (author, idx) { %>
                <% if (idx > 0) { %>, <% } %>
                <%= author.fields.name %>
            <% }); %>
            </span> - <time><%= mainPost.fields.date %></time>
            
        </div>
        <h1 class="article-header">
            <%= mainPost.fields.title %>    
        </h1>
        <div class="article-lead">
            <%= mainPost.fields.tileInfo %>
        </div>
        <em class="read-more">
            czytaj dalej &raquo;
        </em>
    </header>
</a>

<main class="container frontpage-wrapper">
    <div class="col-lg-10 articles-wrapper">
    <% posts.forEach(function (post) { %>
        <% if (post.bigPost) { %>
        <article class="col-lg-6 article-big-wrapper <%= post.fields.category.fields.className %>">
            <a href="<%= post.fields.category.fields.className %>/<%= post.fields.oldId %>/<%= post.fields.slug %>" class="header-wrapper">
                <h1><%= post.fields.title %></h1>
            </a>
            <div class="article-big has-gradient">
                <img src="<%= post.fields.featuredImageOldUrl %>">
                <div class="article-content-wrapper on-top">
                    <time class="article-date">
                        <%= post.fields.date %>
                    </time>
                    <div class="article-author">
                        <% post.fields.author.forEach(function (author, idx) { %>
                            <% if (idx > 0) { %>, <% } %>
                            <a href="/autor/<%= author.fields.slug %>">
                                <%= author.fields.name %>
                            </a>
                        <% }); %>
                    </div>
                    <a href="<%= post.fields.category.fields.className %>/<%= post.fields.oldId %>/<%= post.fields.slug %>" class="article-lead">
                        <%= post.fields.tileInfo %>
                    </a>
                </div>
                <a href="<%= post.fields.category.fields.className %>/<%= post.fields.oldId %>/<%= post.fields.slug %>" class="icon-angle-circled-right on-top"></a>
            </div>
        </article>
        <% } else { %>
        <article class="col-lg-6 article-wrapper <%= post.fields.category.fields.className %>">
            <a href="<%= post.fields.category.fields.className %>/<%= post.fields.oldId %>/<%= post.fields.slug %>" class="header-wrapper">
                <h1><%= post.fields.title %></h1>
            </a>
            <div class="article">
                <a href="<%= post.fields.category.fields.className %>/<%= post.fields.oldId %>/<%= post.fields.slug %>" class="img-wrapper">
                    <img src="<%= post.fields.featuredImageOldUrl %>">
                </a>
                <div class="article-content-wrapper">
                    <time class="article-date">
                        <%= post.fields.date %>
                    </time>
                    <div class="article-author">
                        <% post.fields.author.forEach(function (author, idx) { %>
                            <% if (idx > 0) { %>, </br><% } %>
                            <a href="/autor/<%= author.fields.slug %>">
                                <%= author.fields.name %>
                            </a>
                        <% }); %>
                    </div>
                    <a href="<%= post.fields.category.fields.className %>/<%= post.fields.oldId %>/<%= post.fields.slug %>" class="article-lead">
                        <%= post.fields.tileInfo %>
                    </a>
                </div>
            </div>
        </article>
        <% } %>
    <% }); %>
    </div>
    <aside class="col-lg-2 aside-series-wrapper">
        <div class="series-wrapper" data-spy="affix" data-offset-top="745" data-offset-bottom="50">
            <h1>Cykle</h1>
            <ul class="series-list">
                <% categories.forEach(function (category) { %>
                    <% category.cycles.forEach(function (cycle) { %>
                <li>
                    <a href="<%= cycle.slug %>" class="<%= category.className %>">
                        <%= cycle.name %>
                    </a>
                </li>
                    <% }); %>
                <% }); %>
            </ul>
        </div>
    </aside>
</main>

<% include ../partials/footer.ejs %>
